body { 
  background-image: url('https://wallpaperaccess.com/full/42332.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
} 
/*Button Links*/
body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: magenta;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover span {
    transform: translateX(0.15em);
}

/*Profile Icon*/
div.image {
    content:url("https://scontent.fmnl18-1.fna.fbcdn.net/v/t1.0-9/11038079_510715402428808_8019312501478800594_n.jpg?_nc_cat=110&_nc_oc=AQmgOIGW61jfpyhLzyPdxrEovhjlq61x57QGGLxMyuHpdLtE9r4-1yq9x0FzMweAbi8&_nc_ht=scontent.fmnl18-1.fna&oh=651cb7d61eb963a7025ba020e64030ea&oe=5DB92820");
	width: 200px;
	height: 200px;
	margin-left: auto;
    	margin-right: auto;
	border-radius: 50%;
}


div.description{
	background-color: black;
	width: 300px;
  	border: 10px solid purple;
  	padding: 40px;
  	
	
}

/*Hobbies*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



